Thermostat_Commander.json
[{"id":"658607f3.9423a8","type":"api-current-state","z":"723ccf37.d3976","name":"Last Alexa","server":"d9f5cae2.ae6b18","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.last_alexa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":160,"wires":[["8af09c7b.7ec8"]]},{"id":"35c1ba2d.c3fdf6","type":"amazon-echo-device","z":"723ccf37.d3976","name":"Thermostat","topic":"thermostat","x":370,"y":160,"wires":[["658607f3.9423a8"]]},{"id":"70d7b1e4.7f24b","type":"amazon-echo-device","z":"723ccf37.d3976","name":"Thermostat Hot","topic":"Hot","x":360,"y":240,"wires":[["658607f3.9423a8"]]},{"id":"6a1184ce.88d25c","type":"amazon-echo-device","z":"723ccf37.d3976","name":"Thermostat Cold","topic":"Cold","x":360,"y":200,"wires":[["658607f3.9423a8"]]},{"id":"6e293bdb.ad7bd4","type":"amazon-echo-device","z":"723ccf37.d3976","name":"Thermostat Warm","topic":"Warm","x":350,"y":80,"wires":[["658607f3.9423a8"]]},{"id":"2e3cad3e.ffe152","type":"amazon-echo-device","z":"723ccf37.d3976","name":"Thermostat Status","topic":"Status","x":350,"y":120,"wires":[["658607f3.9423a8"]]},{"id":"8af09c7b.7ec8","type":"function","z":"723ccf37.d3976","name":"Commander","func":"var room = msg.payload.slice(13,-4), thermostat = \"climate.\" + room + \"_thermostat\",\nct = global.get('homeassistant').homeAssistant.states[thermostat].attributes.current_temperature;\n\nif (msg.topic  === \"Hot\") {var\n    h1 = {delay:0, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": ct-1, \"target_temp_high\": ct+1, \"hvac_mode\": \"cool\"}}},\n    h2 = {delay:10, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": ct-4, \"target_temp_high\": ct-2}}},\n    h3 = {payload: ct-4, room}; return [[h1,h2],h3]}\n\nif (msg.topic  === \"Cold\") {var\n    c1 = {delay:0, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": ct-1, \"target_temp_high\": ct+1, \"hvac_mode\": \"heat\"}}},\n    c2 = {delay:10, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": ct+2, \"target_temp_high\": ct+4}}},\n    c3 = {payload: ct+2, room}; return [[c1,c2],c3]}\n\nif (msg.topic  === \"Warm\") {var\n    w1 = {delay:0, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": ct-1, \"target_temp_high\": ct+1, \"hvac_mode\": \"heat_cool\"}}},\n    w2 = {delay:10, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": ct-1, \"target_temp_high\": ct+1}}},\n    w3 = {payload: ct, room}; return [[w1,w2],w3]}\n\nif (msg.topic  === \"Status\") {\n    var status = { payload : {room}}; return [null,null,status]}\n\nif (msg.topic === \"thermostat\" && msg.on === true) {var\n    oo1 = {delay:0, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": ct-1, \"target_temp_high\": ct+1, \"hvac_mode\": \"heat_cool\"}}},\n    oo2 = {delay:10, payload: {data: {\"entity_id\": thermostat,\"target_temp_low\": msg.percentage, \"target_temp_high\": msg.percentage+2, \"hvac_mode\": \"heat_cool\"}}},\n    oo3 = {payload:  msg.percentage, room}; return [[oo1,oo2],oo3]}\n\nif (msg.topic === \"thermostat\" && msg.on === false ) {\n    var oo4 = {payload: {\"domain\": \"climate\",\"service\": \"set_temperature\", delay: 500,\n    data: {\"entity_id\": thermostat,\"target_temp_low\": ct, \"target_temp_high\": ct, \"hvac_mode\": \"off\"}}}\n    var oo5 = {payload:  \"off\", room}; return [[oo4],oo5]}\n\nelse msg.payload = \"nothing\"\nreturn msg","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":150,"wires":[["f5bce3eb.809bb"],["bc84be87.decbc"],["78f8b44a.3abbbc"]]},{"id":"6b900fe.80203f","type":"amazon-echo-hub","z":"723ccf37.d3976","port":"80","processinput":"3","discovery":true,"x":130,"y":160,"wires":[["35c1ba2d.c3fdf6","70d7b1e4.7f24b","6a1184ce.88d25c","6e293bdb.ad7bd4","2e3cad3e.ffe152"]]},{"id":"f5bce3eb.809bb","type":"delay","z":"723ccf37.d3976","name":"Delay","pauseType":"delayv","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":110,"wires":[["133c3155.dce33f"]]},{"id":"bc84be87.decbc","type":"function","z":"723ccf37.d3976","name":"Speak Temp","func":"var tts1 = [\"No Worries. \", \"Ok. \", \"You got it. \", \"Sure. \", \"No Problem. \",\"As you wish. \"]\nvar tts2 = [\"the \", \"your \"]\nvar tts3 = [\"is \", \"now \", \"is now \", \"has been \", \"has now been \"]\nvar tts4 = [\"set to \", \"changed to \", \"turned to \"]\n\nmsg.payload =\ntts1[Math.floor(Math.random() * tts1.length)] +\ntts2[Math.floor(Math.random() * tts2.length)] + msg.room + \" thermostat \" +\ntts3[Math.floor(Math.random() * tts3.length)] +\ntts4[Math.floor(Math.random() * tts4.length)] +\nmsg.payload\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":150,"wires":[["1f59b7e4.b78f88"]]},{"id":"78f8b44a.3abbbc","type":"function","z":"723ccf37.d3976","name":"Read temps","func":"var thermostat = \"climate.\" + msg.payload.room + \"_thermostat\"\nvar ct = global.get('homeassistant').homeAssistant.states[thermostat].attributes.current_temperature\n\nvar beg = [\"The temperature is \", \"It's currently \", \"Looks like its \", \"I see its \", \"current temperature is \"]\nvar mid = [\"thermostat set to \", \"current mode is \", \"thermostat is \", \"thermostat status is \", \"thermostat mode is \"]\nvar end = [\"and is set to\", \"and set at\", \"and its set to\", \"and set to\"]\n\nmsg.payload = \nbeg[Math.floor(Math.random() * beg.length)] + ct + \", \" +\nmid[Math.floor(Math.random() * mid.length)] + \"{{ states.\" + thermostat + \".state }}\" + \", \" +\nend[Math.floor(Math.random() * end.length)] + \"{{ states.\" + thermostat + \".attributes.target_temp_low }}\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":190,"wires":[["1f59b7e4.b78f88"]]},{"id":"133c3155.dce33f","type":"api-call-service","z":"723ccf37.d3976","name":"Set Temp","server":"d9f5cae2.ae6b18","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":110,"wires":[[]]},{"id":"1f59b7e4.b78f88","type":"api-call-service","z":"723ccf37.d3976","name":"Speak Payload","server":"d9f5cae2.ae6b18","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"},\"target\":[\"{{ states.sensor.last_alexa.state }}\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":170,"wires":[[]],"icon":"node-red-contrib-alexa-local/alexa-local.png"},{"id":"d9f5cae2.ae6b18","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]